{% extends 'base.html' %}
{% block content %}

<h1>Customers</h1>
{% if customers %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Created At</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            
        </tr>
    </tbody>
</table>
    
    {% for customer in customers %}
        {{ customer.first_name }}
        {{ customer.last_name }}
        {{ customer.email }}
        {{ customer.phone }}
        {{ customer.address }}
        {{ customer.created_at }}
        {{ customer.id }}
        <br/><br/>
    {% endfor %}
{% else %}
    <p>No customers available.</p>
{% endif %}

{% endblock %}

