{% extends 'base.html' %}
{% block content %}
{%load static%}


<!--homepage view if user successfully logged in-->
  {% if user.is_authenticated %}
  <div class="homepage-container">
    <div class="welcome-section">
        <h1>Welcome to FurEver Home</h1>
        <p class="tagline">"Where Strays Turn to Stays in Forever Ways!"</p>
    </div>

    <div class="about-section">
        <h2>About Us</h2>
        <p>
            FurEver home is a dedicated shelter for rescue animals and give them another chance to be in loving homes.
            My platform is desgined to connect pets in need with compassionate owners while keeping everything organized
            and simple. Looking for pets has never been easier as FurEver Homes makes the process smooth and hassle-free!
            Let's create stories of love and companionship — One Paw at a Time!
            
        </p>
    </div>

    <div class="features-section">
        <h2>What You Can Do Here:</h2>
        <ul>
            <li>Browse available pets for adoption</li>
            <li>Manage customer and pet records</li>
            <li>Keep track of adoption statuses</li>
        </ul>
    </div>
</div>
  
  <!--homepage view if user is unsuccessful with log in-->
  {% else %}
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
{% endif %}

{% endblock %}